.indicator-dot-background {
  background: rgb(13, 70, 154);
  background: linear-gradient(90deg, rgba(13, 70, 154, 1) 0%, rgba(86, 215, 255, 1) 100%);
}

@media print {
  .to-print-footer {
    flex-direction: row !important;
    padding-top: 160px !important;
  }

  .to-print-index-page {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .to-print-dotchart {
    /* padding: 150px 150px 150px 100px !important; */
    padding-top: 150px !important;
  }
}
