.blur {
  backdrop-filter: blur(4px);
}

.inputCss ::-moz-selection {
  color: #1c87c9 !important;
  background-color: #eee !important;
}
.inputCss ::selection {
  color: #1c87c9 !important;
  background-color: #eee !important;
}
