.hero {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}

.hero h1 {
  font-family: 'Jubilat', serif;
  font-size: 38px;
  font-weight: normal;
}

.hero h2 {
  font-family: 'proxima-nova', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.hero .item {
  flex: 1;
  padding: 80px 100px;
}

.learn-more p {
  font-family: 'proxima-nova', sans-serif;

  padding-top: 20px;
}

.learn-more .wp-block-group {
  padding: 0px 80px;
  display: flex;
  align-items: center;
}

@media (max-width: 1125px) {
  .learn-more,
  .hero {
    display: block;
  }

  .learn-more .wp-block-group,
  .learn-more figure {
    width: 100vw;
  }
}
@media (max-width: 40em) {
  .hero .item {
    padding: 50px;
  }
  .learn-more .wp-block-group {
    padding: 40px;
  }
}
