.hero {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 40px;
}

.hero h1 {
  font-family: 'Jubilat', serif;
  font-size: 38px;
  font-weight: normal;
  padding-left: 20px;
}

.hero h2 {
  font-family: 'proxima-nova', sans-serif;
  font-size: 24px;
  font-weight: normal;
  padding-left: 20px;
}

.hero .item {
  flex: 1;
  /* padding: 60px 100px; */
}

.learn-more p {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 600;
  padding-top: 20px;
}

.learn-more .wp-block-group {
  padding: 0px 120px;
  display: flex;
  align-items: center;
}

@media (max-width: 1125px) {
  .learn-more .wp-block-group{
    padding: 0 80px;
  }
}

@media (max-width: 1060px) {
  .learn-more{
    grid-template-columns: 1fr !important;
  };
  .learn-more,
  .hero {
    display: block;
  }

  .learn-more .wp-block-group,
  .learn-more figure {
    width: 100vw;
    margin: 40px 0;
  }
}
@media (max-width: 40em) {
  .hero{
    display: block;
  }
}
